@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$border-color: #dbdbdb;
$subscribe-color: #0095F6;
.inst-widget {
  border: 1px solid $border-color;
  width: 100%;
  max-width: 980px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  & > * {
    box-sizing: border-box;
  }

  .header {
    margin: auto 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    svg {
      width: 20px;
      flex-shrink: 0;
      margin-right: 10px;
    }
    a {
      color: #000;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .gallery {
    margin: auto 0 auto 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
      padding-top: calc(100% / 6);
      width: calc(100% / 6);
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }
  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid $subscribe-color;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
